:root {
--Red400: hsl(0, 100%, 74%); 
--Green400: hsl(154, 59%, 51%);
--Purple700: hsl(248, 32%, 49%);
--Gray900: hsl(249, 10%, 26%);
--Purple350: hsl(246, 25%, 77%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}

body {
  background: url(./images/bg-intro-mobile.png);
  background-color: var(--Red400); 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

main {
  width: 85%;
}

h1 {
  line-height: 1.2;
  margin: 3em 0 1em 0;
  font-size: 1.7rem;
}

.signup-box {
  background-color: var(--Purple700);
  border-radius: 8px;
  padding: 1.3rem;
  box-shadow: 0 8px 3px rgba(0, 0, 0, 0.2);
  margin: 3em auto 1.5em;
}

form {
  background-color: white;
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 4em;
  box-shadow: 0 8px 3px rgba(0, 0, 0, 0.2);
}

input {
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  color: black;
}

input::placeholder {
  color: rgb(118, 118, 118);
  font-weight: 700;
}

button {
  background-color: var(--Green400);
  border: none;
  padding: 0.8em;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 4px hsl(154, 59%, 44%);
  margin-bottom: 1em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: hsl(154, 59%, 57%);
}

button:active {
  background-color: hsl(154, 59%, 66%);
}

.agreement {
  color: var(--Purple350);
  font-size: 0.7rem;
}

.terms {
  color: var(--Red400);
  font-weight: 700;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  font-size: 0.8rem;
}

@media screen and (min-width: 1440px) {

  body {
    background: url(./images/bg-intro-desktop.png) no-repeat center;
    background-color: var(--Red400); 
  }

  main {
    display: flex;
    gap: 3rem;
    width: 70%;
  }

  .desktop-col1 {
    text-align: left;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  form {
    padding: 2.5rem;
    min-width: 35em;
  }

  input {
    width: 100%;
    padding: 1.2em;
    margin-bottom: 1.5em;
    position: relative;
  }

  .error {
    border: 2px solid var(--Red400);
    background-image: url(./images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: 95% center;
  }

  .error-placeholder::placeholder {
    color: var(--Red400);
    opacity: 1;
  }

  .error-message {
    text-align: right;
    color: var(--Red400);
    font-size: 0.7rem;
    font-weight: 700;
    font-style: italic;
    bottom: 18px;
    position: relative;
    opacity: 0.8;
  }
}